[submodule "accel_anchor-esrow"]
	path = accel_anchor-esrow
	url = https://github.com/Abhishekvenky010/accel_anchor-esrow.git
[submodule "whitelist-transfer-hook-q2"]
	path = whitelist-transfer-hook-q2
	url = https://github.com/Abhishekvenky010/whitelist-transfer-hook-q2.git
